$colorNavbar: #2F1F1F;
$colorSection2: #E9E0B7;
$colorBordesRadius: #DBBE86;
$colorSection3: #F4F4F4;
$colorSection4: #4A3A3A;
$colorFooter: #2F1F1F;
$colorFontBlack: #fff;
$colorh3: #D86B70;
$colorTextSection2: #333331;
$borderImgTowel: 10%;
$colorLineaTopSection3: #CCCCCC;
$colorLineaButtonSection3:#FADDA5;
